<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>New Chat</h1>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Enter your Name"><br><br>
        <textarea name="message" id="message" placeholder="Enter the Message"></textarea><br><br>
        <input type="text" name="to" placeholder="Enter the Receiver name"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>