body{
    margin: 10px;
}
.block{
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: aqua;
    min-width: 225px;
    box-shadow: 0px 0px 7px 2px black;
}

.msg{
    border-left: 5px solid darkblue;
    border-right: 5px solid darkblue;
    padding-left: 8px;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: orange;
}

.date{
    text-align: center;
    font-weight: bolder;
}

.time{
    text-align: end;
    margin-right: 20px;
    font-weight: bold;
}

.inline{
    display: flex;
}

.btn{
    margin-right: 5px;
}